datacenter = "{{ DATA_CENTER }}"
data_dir = "/opt/nomad"

client {
  enabled = true

  server_join {
    retry_join = [ "{{ NOMAD_SERVER_LEADER_IP }}" ]
    retry_max = 3
    retry_interval = "15s"  
  }
# ACL

# TLS

}